.groups-page {
 display: flex;
 width: 100%;
 max-width: 100%;
 overflow-x: hidden;
 position: relative;
 padding: 0 10px;
  
 
  
}

/* LEFT LIST */
.groups-left {
  width: 300px;
  height: 450px;
  
  
}

/* RIGHT DETAIL */
.groups-right {
  position: relative;
  flex: 1;
  background: transparent;
 min-width: 0;
 height: 450px;
  display: flex;
  flex-direction: column;

}

.group-placeholder {
  color: var(--text-muted);
  font-size: 0.9rem;
}


/* DESKTOP GROUP INFO PANEL */

.groups-info {
  position: absolute;
  inset: 0;

  background: var(--bg-main);

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 80;
  width: 100%;
  height: 100%;
}

.groups-info.show-info {
  transform: translateX(0);
}



@media(max-width:768px){

  .groups-page{
    position: relative;
    display: block;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    gap: 0;
    overflow-x: hidden;
  }

  .groups-left,
  .groups-right{
    position: absolute;
    inset: 0;

    height: 100vh;

    border-radius: 0;
    box-shadow: none;

    transition: transform 0.3s ease;

    width: 100vw !important;
    max-width: 100vw !important;
  }

  .groups-left{
    transform: translateX(0);
  }

  .groups-left.hide-mobile {
    transform: translateX(-100%);
  }

  .groups-right {
    transform: translateX(100%);
  }

  .groups-right.show-mobile {
    transform: translateX(0);
  }

   .groups-info {
    position: absolute;
    inset: 0;

    display: block;

    background: var(--bg-main);

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 50;
  }

  .groups-info.show-info {
    transform: translateX(0);
  }
}
